*{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* Aca empieza el nav */

nav{
  width: 100vw;
  background-color: #FFF59D;
  padding: 30px;
}

nav a {
  text-decoration: none;
  color: black;
  
}

ul{
  list-style: none;
  display: flex;
  gap: 20px;
}

#active {
  font-weight: 1000;
}

.disable{
  color: grey;
}

/* Aca empieza el main */

#bienvenida {
  text-align: center;
  margin-block: 50px;
  font-size: 2em;
}

#listaProductos {
  margin-block: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.productos  {
  margin: 20px;
  align-items: center;
  border: 2px solid black;
  width: 200px;
  height: fit-content;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.productos__img{
  height: 200px;
  width: 200px;
  border-bottom: 2px solid black;
}

.infoProducto{
  max-width: 150px;
}


.btn_producto{
  width: 100%;
  font-size: 14px;
  height: 30px;
  background-color: #2196F3;
  color: #ffffff;
  font-weight: 1000;
  border: 0;
  border-top: 2px solid black;
}

/* Aca empieza el carrito */

#contenedor__carrito{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.barra-producto {
  display: flex;
  align-items: center;
  width: 300px;
  height: 50px;
  justify-content: space-around;
  gap: 10px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

.barra-producto button{
  text-align: center;
  width: 20px;
}
